Source: metrics
Priority: extra
Maintainer: Evgeny Safronov <division494@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake,
 libboost-dev,
 libboost-system-dev
Standards-Version: 3.9.3
Section: libs
Homepage: https://github.com/3Hren/metrics
Vcs-Git: git://github.com/3Hren/metrics.git
Vcs-Browser: https://github.com/3Hren/metrics.git

Package: metrics-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libmetrics3 (= ${binary:Version})
Description: Metrics for C++ - Development Headers
 Development files for C++ metrics library.

Package: libmetrics3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Metrics for C++.
 Fast C++ metrics library.
